
$red: #df0d0e;

::-webkit-scrollbar {
    width: 8px;
    height: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: $red;
}
.container{
    max-width: 1200px !important;
}
body > a:link{
    text-decoration: none;
    color: #df0d0e;
    transition: 1s ease all;
}
*{
    font-family: 'Roboto',sans-serif;
}
a:hover{
    color: white;
}
.main-title{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}


// HEADER

.header{
    margin: 1.5% 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__logo{
        .logo-img{
            width: 145px;
            height: 55px;
        }
        
    }
    &__input{
        display:flex;
        align-items: center;
        .input-header{
            width: 475px;
            height: 40px;
            padding: 10px 40px 10px 12px;
            border-radius: 25px;
            border: 2px solid #dcdcdc;
            font-size: 14px;
            outline: none;
            vertical-align: middle;
            color: silver;
            font-weight: 600;
            opacity: 0.3;
        }
        .input-header:active, :focus{
            color: black;
            opacity: 1;
        }
        .search{
            color: silver;
            font-size: 1.3em;
            margin-left: -35px;
            opacity: 0.4;
        }
    }
    &__contacts{
        font-size: 14px;
         a{
            font-weight: 600;
            font-size: 16px;
            color: $red;
            transition: 1s ease all;
            text-decoration: none;
        }
        a:hover{
            transition: 1s ease all;
            color: black;
        }
    }
    &__sign-up{
        display:flex;
    
        .sign-up-img{
            width: 17px;
            height: 17px;
            
            margin-right: 8px;
            margin-top: 2px;
            vertical-align: middle;
        }
        a{
            font-size: 14px;
            text-decoration: none;
            color: black;
            transition: 0.5s ease all;
        }
        a:hover{
            transition: 1s ease all;
            color: $red;
        }
    }
    &__wishlist{
        .wishlist-img{
            width: 17px;
            height: 17px;
        }
        a{
            font-size: 14px;
            text-decoration: none;
            color: black;
        }
        a:hover{
            transition: 1s ease all;
            color: $red;
        }
    }
    &__cart{
        a img{
            width: 32px;
            height: 42px;
        }
    }
}

// NAV
.black{
    background-color: black;
}

.menu{
    display: flex;
    height: 53px;
    align-items: center;
    margin: 0;
    padding: 0;
    
    li{
        list-style-type: none;
    }
    a{
        color: white;
        text-decoration: none;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.3px;
        font-size: 14px;
    }
    .main-menu{
        margin-right: 30px;
    }
    .main-menu:hover{
        transition: 1s ease all;
        color: silver;
    }
    &__shop{
        display: flex;
        margin-right: 30px;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        text-align: center;
        background-color: $red;
        height: 100%;
        width: 170px;
    }
    &__shop a:hover{
        color: white;
    }
}


// SLIDER

.first-page{
    height: 950px;
    background-image: url(../img/carusel2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5%;
    .title-slide{
        font-size: 40px;
        font-weight: 700;
        color: #ffffff;
        margin-bottom: 10px;
        text-transform: uppercase;
        line-height: 110%;
        margin-bottom: 20px;
        text-shadow: 0 0 15px #161616;
    }
    .sub-title-slide p{
        font-size: 25px;
        line-height: 150%;
        color: #fff;
        text-shadow: 0 0 15px #161616;
        text-transform: uppercase;
    
    }
    .button-slide a{
        cursor: pointer;
        font-size: 15px ;
        font-weight: 600 ;
        line-height: 100% ;
        letter-spacing: 1px ;
        padding: 20px 25px ;
        border-radius: 4px ;
        color: #ffffff ;
        display: inline-block ;
        text-decoration: none;
        background-color: #df0d0e ;
        border: 3px solid #df0d0e;
        text-transform: uppercase;
        transition: 0.5s ease all;
    }
    .button-slide a:hover{
        transition: 1s ease-out 0.5s;
        border: 3px solid black;
        
        background-color: rgba(205, 214, 219, 0.3);
    }
}
.second-page{
    height: 950px;
    padding-bottom: 10%;
    background-image: url(../img/carusel1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:-5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .title-slide{
        font-size: 40px;
        font-weight: 700;
        color: #ffffff;
        margin-bottom: 10px;
        text-transform: uppercase;
        line-height: 110%;
        margin-bottom: 20px;
        text-shadow: 0 0 15px #161616;
    }
    .sub-title-slide p{
        font-size: 25px;
        line-height: 150%;
        color: #fff;
        text-shadow: 0 0 15px #161616;
        text-transform: uppercase;
    
    }
    .button-slide a{
        cursor: pointer;
        font-size: 15px ;
        font-weight: 600 ;
        line-height: 100% ;
        letter-spacing: 1px ;
        padding: 20px 25px ;
        border-radius: 4px ;
        color: #ffffff ;
        display: inline-block ;
        text-decoration: none;
        background-color: #df0d0e ;
        border: 3px solid #df0d0e;
        text-transform: uppercase;
        transition: 0.5s ease all;
    }
    .button-slide a:hover{
        transition: 1s ease-out 0.5s;
        border: 3px solid black;
        
        background-color: rgba(205, 214, 219, 0.3);
    }
}

.carusel{
    height: 950px;
    position: relative;
    margin-bottom: 2%;
    .carousel-indicators li{
        position: absolute;
        top: 250px;
    
        margin-bottom: 50px;
        color: white
    }
}
// CATEGORY

.category{
    width: 1200px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2%;
    .style-category{  
        width: 31%;
        height: 350px;
        margin-bottom: 3%;
        margin-top: 3%;
        position: relative;
        .category-img{
            overflow: hidden;
            max-width: 380px;
            height: 350px;
            
        }
        .category-img-addods{
            transition: 1s;
            width: 100%;
            height: 100%;
            
        }
        .category-img-addods:hover{
            transform: scale(1.1);
           
        }
        .style-category{
            position: relative;
        }
        .style-category:hover{
        
        transition: all 1s ease-out;
        transform: scale(1.1);
        }
        .category-title{
            position: absolute;
            top: 180px;
            z-index: 1;
            width: 100%;
            padding: 15px 25px;
            font-weight: 600;
            text-align: left;
            color: #ffffff;
            text-transform: uppercase;
            line-height: 34px;
            margin: 0;
            font-size: 21px;
            text-shadow: 0 0 15px #000000;
        }
        .category-button a{
            z-index: 4;
            position: absolute;
            margin-top: -100px;
            margin-left: 20px;
            cursor: pointer;
            font-size: 15px ;
            font-weight: 600 ;
            line-height: 100% ;
            letter-spacing: 1px ;
            padding: 20px 25px ;
            border-radius: 4px ;
            color: #ffffff ;
            display: inline-block ;
            text-decoration: none;
            background-color: #df0d0e ;
            border: 3px solid #df0d0e;
            text-transform: uppercase;
            transition: 0.5s ease all;
            }
            .category-button a:hover{
                transition: 1s ease-out 0.5s;
                border: 3px solid black;
                background-color: rgba(205, 214, 219, 0.3);
            }
        
    }
}
// SLIDER_CATEGORY

.slider-category{
    margin-bottom: 3%;
    display: flex;
    flex-wrap: wrap;
    .nth_prod{
        position: relative;
        width: 290px;
        // height: 400px;
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
    }
    .nth_prod:hover{
        box-shadow: 0 0px 5px 5px rgba($color: silver, $alpha: 0.5);
    }
    
    &__like{
        position: absolute;
        top: 15px;
        left: 15px;
        z-index: 4;
        .like-slider{
            width:25px;
            height: 25px;
        }

    }
    &__link a{
        width: 310px;
        padding: 0 5px;
        color: black;
        display: block;
        font-size: 13px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    &__img{
        padding: 5px 5px;
        width: 90%;
        height: 300px;
        object-fit: contain;
    }
    &__img:hover{
        transform: scale(1.05);
    }
    &__link a:hover{
        color: black;
    }
    
    &__price span{
        font-weight: bold;

    }
    &__sale{
        display: none;
    }
    
    // &__first-prod{
    //     display: flex;
    //     justify-content: space-between;
    // }
}

// GO_TO_CATALOG
.flex_catalog_go{
display: flex;
height: 640px;
margin-bottom: 2%;
}
.go-to-catalog{
    width: 50%;
    padding: 50px 80px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__title h2{
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 2%;
    }
    &__sub-title{
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 2%;
        opacity: 0.8;
    }
    &__text span{
        font-size: 20px;
        line-height: 150%;
        opacity: 0.8;
    }
    &__button{
        width: 260px;
        margin-top: 6%;
        cursor: pointer;
        font-size: 15px ;
        font-weight: 600 ;
        line-height: 100% ;
        letter-spacing: 1px ;
        padding: 20px 25px ;
        border-radius: 4px ;
        color: #ffffff ;
        display: inline-block ;
        text-decoration: none;
        background-color: black ;
        border: 2px solid #ffffff;
        text-transform: uppercase;
        transition: all 1s ease 0.01s;
    }
    &__button a{
        color: white;
        text-decoration: none;
    }
    &__button a:hover{
        color: white;
    }
    &__button:hover{
        transition: ease-out 0.5s;
        border: 2px solid black;
        background-color: $red;
    }
}

.go-to-catalog-img{
    width: 50%;
}
.go-to-catalog-img img{
    width: 100%;
    height: 100%;
}

// SPECIAL-PROPOSITIONS
.special-propositions__product{
    width: 1200px;
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3.5%;
    .nth_prod{
        z-index: 5;
        // padding-top: 2%;
        position: relative;
        width: 290px;
        height: 450px;
        padding: 15px 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .nth_prod:hover{
        z-index: 6;
       
        box-shadow: 0px 0px 10px 10px rgba($color: silver, $alpha: 0.5);
    }
    .nth_prod:hover > .slider-category__link-buy{
        display: block;
       
    }
}
.slider-category__link-buy{
    position: absolute;
    bottom: -40px;
    z-index: 5;
    display: none;
    width: 100%;
    transition: 1s ease all;
    margin-right: unset ;
    padding: 10px 30px;
    text-transform: unset ;
    letter-spacing: unset ;
    border-radius: 0px ;
    transition: 0.5s linear;
    background-color: $red;
    text-align: center;
}
.slider-category__link-buy a{
    color: white;
    text-decoration: none;
}
.slider-category__link-buy a:hover{
    color: white;
}
// FOOTER
footer{
    background-color: #111111;
    height: 330px;
}
.footer-menu{
    display: flex;
    flex-direction: column;
   
}

.margin_footer{
    margin-bottom: 10px;
}

.footer{
    display: flex;
    padding-top: 50px;
    color: white;
    justify-content: space-between;
    a{
        color: white;
        text-decoration: none;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0.3px;
        font-size: 16px;
       
    }
    a:hover{
        transition: 0.5s ease all;
        color: silver;
    }
    &__menu-title{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
    }
    &__contacts-text{
        color: #c1c1c1;
    }
    &__contacts-text-mail{
        color: #c1c1c1;
    }
    .vertical-menu{
        .ul-footer{
            padding: 0;
            li{
                list-style-type: none;
                padding: 0;
                margin-bottom: 10px;
            }
            a{
                color: white;
                text-decoration: none;
                font-weight: 400;
                line-height: 150%;
                letter-spacing: 0.3px;
                font-size: 16px;
               
            }
        }
        
    }
    &__social-networks{
        margin-top: -10px;
        margin-bottom: 10px;
        a{
            font-size: 24px;
        }
        display: flex;
        justify-content: space-around;
        
    }
    
        
    
    
    .red{
        color: $red;
    }
}
.footer__card{
    font-size: 24px;
}



.sub-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    a{
        color: white;
        text-decoration: none;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0.3px;
        font-size: 14px;
       
    }
    a:hover{
        transition: 0.5s ease all;
        color: silver;
    }
    &__text{
        color: silver;
        font-size: 18px;
    }
    i{
        color: white;
        font-size: 20px;
    }
    a{
        color: white;
    }
    a:hover{
        color: white;
    }

    &__currency{
        .sub-footer-link-uah::after{
            font-size: 13px;
            content: "|";
            font-weight: bold;
            padding-left: 5px;
            vertical-align: unset;
        }
    }
    &__language{
        .sub-footer-link-border::before{
            font-size: 13px;
            content: "|";
            font-weight: bold;
            padding-right: 5px;
            vertical-align: unset;
        }
        .sub-footer-link-border::after{
            font-size: 13px;
            font-weight: bold;
            content: "|";
            padding-left: 5px;
            vertical-align: unset;
        }
        
    }
}

