::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #df0d0e;
}

.container {
  max-width: 1200px !important;
}

body > a:link {
  text-decoration: none;
  color: #df0d0e;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
}

* {
  font-family: 'Roboto',sans-serif;
}

a:hover {
  color: white;
}

.main-title {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.header {
  margin: 1.5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo .logo-img {
  width: 145px;
  height: 55px;
}

.header__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__input .input-header {
  width: 475px;
  height: 40px;
  padding: 10px 40px 10px 12px;
  border-radius: 25px;
  border: 2px solid #dcdcdc;
  font-size: 14px;
  outline: none;
  vertical-align: middle;
  color: silver;
  font-weight: 600;
  opacity: 0.3;
}

.header__input .input-header:active, .header__input :focus {
  color: black;
  opacity: 1;
}

.header__input .search {
  color: silver;
  font-size: 1.3em;
  margin-left: -35px;
  opacity: 0.4;
}

.header__contacts {
  font-size: 14px;
}

.header__contacts a {
  font-weight: 600;
  font-size: 16px;
  color: #df0d0e;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
  text-decoration: none;
}

.header__contacts a:hover {
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
  color: black;
}

.header__sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__sign-up .sign-up-img {
  width: 17px;
  height: 17px;
  margin-right: 8px;
  margin-top: 2px;
  vertical-align: middle;
}

.header__sign-up a {
  font-size: 14px;
  text-decoration: none;
  color: black;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.header__sign-up a:hover {
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
  color: #df0d0e;
}

.header__wishlist .wishlist-img {
  width: 17px;
  height: 17px;
}

.header__wishlist a {
  font-size: 14px;
  text-decoration: none;
  color: black;
}

.header__wishlist a:hover {
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
  color: #df0d0e;
}

.header__cart a img {
  width: 32px;
  height: 42px;
}

.black {
  background-color: black;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 53px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.menu li {
  list-style-type: none;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  font-size: 14px;
}

.menu .main-menu {
  margin-right: 30px;
}

.menu .main-menu:hover {
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
  color: silver;
}

.menu__shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  text-align: center;
  background-color: #df0d0e;
  height: 100%;
  width: 170px;
}

.menu__shop a:hover {
  color: white;
}

.first-page {
  height: 950px;
  background-image: url(../img/carusel2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 5%;
}

.first-page .title-slide {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 10px;
  text-transform: uppercase;
  line-height: 110%;
  margin-bottom: 20px;
  text-shadow: 0 0 15px #161616;
}

.first-page .sub-title-slide p {
  font-size: 25px;
  line-height: 150%;
  color: #fff;
  text-shadow: 0 0 15px #161616;
  text-transform: uppercase;
}

.first-page .button-slide a {
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 1px;
  padding: 20px 25px;
  border-radius: 4px;
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
  background-color: #df0d0e;
  border: 3px solid #df0d0e;
  text-transform: uppercase;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.first-page .button-slide a:hover {
  -webkit-transition: 1s ease-out 0.5s;
  transition: 1s ease-out 0.5s;
  border: 3px solid black;
  background-color: rgba(205, 214, 219, 0.3);
}

.second-page {
  height: 950px;
  padding-bottom: 10%;
  background-image: url(../img/carusel1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.second-page .title-slide {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 10px;
  text-transform: uppercase;
  line-height: 110%;
  margin-bottom: 20px;
  text-shadow: 0 0 15px #161616;
}

.second-page .sub-title-slide p {
  font-size: 25px;
  line-height: 150%;
  color: #fff;
  text-shadow: 0 0 15px #161616;
  text-transform: uppercase;
}

.second-page .button-slide a {
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 1px;
  padding: 20px 25px;
  border-radius: 4px;
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
  background-color: #df0d0e;
  border: 3px solid #df0d0e;
  text-transform: uppercase;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.second-page .button-slide a:hover {
  -webkit-transition: 1s ease-out 0.5s;
  transition: 1s ease-out 0.5s;
  border: 3px solid black;
  background-color: rgba(205, 214, 219, 0.3);
}

.carusel {
  height: 950px;
  position: relative;
  margin-bottom: 2%;
}

.carusel .carousel-indicators li {
  position: absolute;
  top: 250px;
  margin-bottom: 50px;
  color: white;
}

.category {
  width: 1200px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 2%;
}

.category .style-category {
  width: 31%;
  height: 350px;
  margin-bottom: 3%;
  margin-top: 3%;
  position: relative;
}

.category .style-category .category-img {
  overflow: hidden;
  max-width: 380px;
  height: 350px;
}

.category .style-category .category-img-addods {
  -webkit-transition: 1s;
  transition: 1s;
  width: 100%;
  height: 100%;
}

.category .style-category .category-img-addods:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.category .style-category .style-category {
  position: relative;
}

.category .style-category .style-category:hover {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.category .style-category .category-title {
  position: absolute;
  top: 180px;
  z-index: 1;
  width: 100%;
  padding: 15px 25px;
  font-weight: 600;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 34px;
  margin: 0;
  font-size: 21px;
  text-shadow: 0 0 15px #000000;
}

.category .style-category .category-button a {
  z-index: 4;
  position: absolute;
  margin-top: -100px;
  margin-left: 20px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 1px;
  padding: 20px 25px;
  border-radius: 4px;
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
  background-color: #df0d0e;
  border: 3px solid #df0d0e;
  text-transform: uppercase;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.category .style-category .category-button a:hover {
  -webkit-transition: 1s ease-out 0.5s;
  transition: 1s ease-out 0.5s;
  border: 3px solid black;
  background-color: rgba(205, 214, 219, 0.3);
}

.slider-category {
  margin-bottom: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slider-category .nth_prod {
  position: relative;
  width: 290px;
  padding: 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-category .nth_prod:hover {
  -webkit-box-shadow: 0 0px 5px 5px rgba(192, 192, 192, 0.5);
          box-shadow: 0 0px 5px 5px rgba(192, 192, 192, 0.5);
}

.slider-category__like {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 4;
}

.slider-category__like .like-slider {
  width: 25px;
  height: 25px;
}

.slider-category__link a {
  width: 310px;
  padding: 0 5px;
  color: black;
  display: block;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.slider-category__img {
  padding: 5px 5px;
  width: 90%;
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}

.slider-category__img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.slider-category__link a:hover {
  color: black;
}

.slider-category__price span {
  font-weight: bold;
}

.slider-category__sale {
  display: none;
}

.flex_catalog_go {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 640px;
  margin-bottom: 2%;
}

.go-to-catalog {
  width: 50%;
  padding: 50px 80px;
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.go-to-catalog__title h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 2%;
}

.go-to-catalog__sub-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2%;
  opacity: 0.8;
}

.go-to-catalog__text span {
  font-size: 20px;
  line-height: 150%;
  opacity: 0.8;
}

.go-to-catalog__button {
  width: 260px;
  margin-top: 6%;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 1px;
  padding: 20px 25px;
  border-radius: 4px;
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
  background-color: black;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  -webkit-transition: all 1s ease 0.01s;
  transition: all 1s ease 0.01s;
}

.go-to-catalog__button a {
  color: white;
  text-decoration: none;
}

.go-to-catalog__button a:hover {
  color: white;
}

.go-to-catalog__button:hover {
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  border: 2px solid black;
  background-color: #df0d0e;
}

.go-to-catalog-img {
  width: 50%;
}

.go-to-catalog-img img {
  width: 100%;
  height: 100%;
}

.special-propositions__product {
  width: 1200px;
  height: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 3.5%;
}

.special-propositions__product .nth_prod {
  z-index: 5;
  position: relative;
  width: 290px;
  height: 450px;
  padding: 15px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.special-propositions__product .nth_prod:hover {
  z-index: 6;
  -webkit-box-shadow: 0px 0px 10px 10px rgba(192, 192, 192, 0.5);
          box-shadow: 0px 0px 10px 10px rgba(192, 192, 192, 0.5);
}

.special-propositions__product .nth_prod:hover > .slider-category__link-buy {
  display: block;
}

.slider-category__link-buy {
  position: absolute;
  bottom: -40px;
  z-index: 5;
  display: none;
  width: 100%;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
  margin-right: unset;
  padding: 10px 30px;
  text-transform: unset;
  letter-spacing: unset;
  border-radius: 0px;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
  background-color: #df0d0e;
  text-align: center;
}

.slider-category__link-buy a {
  color: white;
  text-decoration: none;
}

.slider-category__link-buy a:hover {
  color: white;
}

footer {
  background-color: #111111;
  height: 330px;
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.margin_footer {
  margin-bottom: 10px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.3px;
  font-size: 16px;
}

.footer a:hover {
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  color: silver;
}

.footer__menu-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.footer__contacts-text {
  color: #c1c1c1;
}

.footer__contacts-text-mail {
  color: #c1c1c1;
}

.footer .vertical-menu .ul-footer {
  padding: 0;
}

.footer .vertical-menu .ul-footer li {
  list-style-type: none;
  padding: 0;
  margin-bottom: 10px;
}

.footer .vertical-menu .ul-footer a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.3px;
  font-size: 16px;
}

.footer__social-networks {
  margin-top: -10px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__social-networks a {
  font-size: 24px;
}

.footer .red {
  color: #df0d0e;
}

.footer__card {
  font-size: 24px;
}

.sub-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.sub-footer a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.3px;
  font-size: 14px;
}

.sub-footer a:hover {
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  color: silver;
}

.sub-footer__text {
  color: silver;
  font-size: 18px;
}

.sub-footer i {
  color: white;
  font-size: 20px;
}

.sub-footer a {
  color: white;
}

.sub-footer a:hover {
  color: white;
}

.sub-footer__currency .sub-footer-link-uah::after {
  font-size: 13px;
  content: "|";
  font-weight: bold;
  padding-left: 5px;
  vertical-align: unset;
}

.sub-footer__language .sub-footer-link-border::before {
  font-size: 13px;
  content: "|";
  font-weight: bold;
  padding-right: 5px;
  vertical-align: unset;
}

.sub-footer__language .sub-footer-link-border::after {
  font-size: 13px;
  font-weight: bold;
  content: "|";
  padding-left: 5px;
  vertical-align: unset;
}
/*# sourceMappingURL=style.css.map */